<% @articles.each do |article| %>
<div id="block">
	<h3 class="form-group row" style="padding: 0px 20px 0px 0px; ">
		<div class="col-md-9"><%=link_to  article.title, article_path(article) %></div>
		<% if user_signed_in? && (current_user.id == article.user_id || current_user.admin?) %>
		<div class="right">
			<%= link_to 'Редактировать', edit_article_path(article), :class=> "btn btn-success right", :style => "margin-left:10px;" %>
			<%= link_to 'Удалить', article_path(article),:class=> "btn btn-danger right", method: :delete, data: { confirm: 'Вы уверены?' } %>
		</div>
		<% end %>
	</h3>
	

	<p style="padding: 15px; text-align: justify;"><%= article.text %></p>

	<div>
		<div>Дата: <%=article.created_at%></div>
		<div>Автор: <%=link_to  article.user.name, user_path(article.user) %></div>
	</div>
</div>
<% end %>